.delete-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #db2121;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none;
  width: 70px;
  height: 35px;
}

.delete-btn:hover {
  background: #ff0000;
  text-decoration: none;
}

.edit-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: "Lato", sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #28eea7;
  padding: 7.5px 15px 7.5px 15px;
  text-decoration: none;
  width: 70px;
  height: 35px;
}

.edit-btn:hover {
  background: #46bf93;
  text-decoration: none;
}

.card-buttons {
  display: flex;
  gap: 10%;
}

.add-buttons {
  display: flex;
  gap: 8%;
  margin-top: 3%;
}

.add-category-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  background: #f5f5f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.add-category-btn:hover {
  background: #f0fcad;
  text-decoration: none;
}

.description {
  text-align: center;
}

.add-item-btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #000000;
  font-size: 14px;
  background: #f5f5f5;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.add-item-btn:hover {
  background: #f0fcad;
  text-decoration: none;
}

.categories-list li {
  cursor: pointer;
}

/* Add Item Modal */

.add-item-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: 1;
}

.modal-box {
  background-color: white;
  padding: 20px 20px 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-box .modal-header {
  font-weight: 500;
}

.modal-box .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-box .inputs input {
  width: 100%;
  padding: 20px;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #5f6368;
  background-color: #cccccc54;
  font-size: 1rem;
}

.modal-box .inputs input:focus {
  border-bottom: 2px solid black;
}

.modal-box .inputs input::placeholder {
  font-size: 1rem;
}

.modal-box .buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.modal-box .buttons button {
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 0.875rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.modal-box .buttons button:hover {
  background-color: #28eea7;
}

.modal-box .buttons .create-button button {
  color: black;
}

.modal.hide {
  display: none;
}

.category-dropdown-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-dropdown-list select {
  padding: 10px 20px;
  width: 300px;
}
